@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor-menu: #260101;
    --cor-doc: #F2F2F2;
    --cor-texto: #1B1B1B;
    --cor-fundo: #697363;
    --cor-ficha1: #e6e6e6;
    --cor-ficha2: #f9f9f9;
    --cor-link: #ffff00;
}

body {
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 2em;
    margin: 0;
}

main {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

main section {
    background-color: var(--cor-doc);
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

h1, h2, h3 {
    padding-top: 10px;
}

ul {
    padding-left: 20px;
    margin: 16px 0;
}

li {
    margin-bottom: 10px;
}

header {
    background-color: var(--cor-menu);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--cor-menu);
    color: var(--cor-doc);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: var(--cor-ficha2);
}

footer a:hover {
    color: var(--cor-link);
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--cor-ficha2);
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.3s;
}

.menu ul li a:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-ficha2);
}

.inicio h1 {
    margin-bottom: 20px;
}

.inicio p {
    text-align: justify;
    margin-bottom: 5px;
}

.nav-itens {
    background-color: var(--cor-menu);
    color: var(--cor-ficha2);
    display: grid;
    grid-area: "itens raros montarias orbes";
    grid-template-columns: 1fr 1fr 1fr;

}

.nav-itens a {
    text-decoration: none;
    color: var(--cor-ficha2);
}

.nav-itens a:hover {
    color: var(--cor-link);
}

.itens {
    display: grid;
    grid-template-areas:
        "imagem status"
        "requisitos requisitos";

    grid-template-columns: 100px 1fr;

    padding: 20px 0;
}

.imagem {
    grid-area: imagem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    grid-area: status;
    margin-left: 20px;
}

.requisitos {
    grid-area: requisitos;
}

.creditos {
    background-color: var(--cor-texto);
    color: var(--cor-ficha2);
    text-align: center;
}

.creditos a {
    text-decoration: none;
    color: var(--cor-ficha2);
}

.creditos a:hover {
    color: var(--cor-link);
}