@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor-menu: #260101;
    --cor-doc: #F2F2F2;
    --cor-texto: #1B1B1B;
    --cor-fundo: #697363;
    --cor-ficha1: #e6e6e6;
    --cor-ficha2: #f9f9f9;
    --cor-link: #ffff00;
    --shu: #aeffae;
    --shu2: #14ad14;
    --wu: #ffa77f;
    --wu2: #e04719;
    --wei: #acacfc;
    --wei2: #1818c4;
    --others: #ffffbe;
    --others2: #b4b40a;
}

body {
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 2em;
    margin: 0;
}

main {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

main section {
    background-color: var(--cor-doc);
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

h1, h2, h3 {
    padding-top: 10px;
}

ul {
    padding-left: 20px;
    margin: 16px 0;
}

li {
    margin-bottom: 10px;
}

header {
    background-color: var(--cor-menu);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--cor-menu);
    color: var(--cor-doc);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: var(--cor-ficha2);
}

footer a:hover {
    color: var(--cor-link);
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--cor-ficha2);
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.3s;
}

.menu ul li a:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-ficha2);
}

.inicio h1 {
    padding-bottom: 15px;
}

.inicio p {
    text-align: justify;
}

.shu {
    background-color: var(--shu)
}

.wu {
    background-color: var(--wu);
}

.wei {
    background-color: var(--wei);
}

.others {
    background-color: var(--others);
}

.shu h1 {
    color: var(--shu2);
}

.wu h1 {
    color: var(--wu2);
}

.wei h1 {
    color: var(--wei2);
}

.others h1 {
    color: var(--others2);
}

.oficiais {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.oficiais-shu {
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    transition: background-color 0.2s, color 0.3s;
}

.oficiais-shu:hover {
    background-color: var(--shu2);
    color: var(--cor-ficha2);
    font-weight: bold;
}

.oficiais-wu {
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    transition: background-color 0.2s, color 0.3s;
}

.oficiais-wu:hover {
    background-color: var(--wu2);
    color: var(--cor-ficha2);
    font-weight: bold;
}

.oficiais-wei {
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    transition: background-color 0.2s, color 0.3s;
}

.oficiais-wei:hover {
    background-color: var(--wei2);
    color: var(--cor-ficha2);
    font-weight: bold;
}

.oficiais-others {
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    transition: background-color 0.2s, color 0.3s;
}

.oficiais-others:hover {
    background-color: var(--others2);
    color: var(--cor-ficha2);
    font-weight: bold;
}

.arma-shu {
    display: grid;
    grid-template-areas:
        "topo topo"
        "imagem status"
        "requisitos requisitos";

    grid-template-columns: 100px 1fr;

    padding: 20px;
    border: 1px solid var(--shu2);
    margin-bottom: 20px;

    border-radius: 20px;
}

.arma-shu img {
    border-radius: 5px;
    background-color: var(--shu2);
    padding: 2px;
}

.arma-shu h2 {
    color: var(--shu2);
}

.arma-shu h3 {
    color: var(--shu2);
}

.arma-wu {
    display: grid;
    grid-template-areas:
        "topo topo"
        "imagem status"
        "requisitos requisitos";

    grid-template-columns: 100px 1fr;

    padding: 20px;
    border: 1px solid var(--wu2);
    margin-bottom: 20px;

    border-radius: 20px;
}

.arma-wu img {
    border-radius: 5px;
    background-color: var(--wu2);
    padding: 2px;
}

.arma-wu h2 {
    color: var(--wu2);
}

.arma-wu h3 {
    color: var(--wu2);
}

.arma-wei {
    display: grid;
    grid-template-areas:
        "topo topo"
        "imagem status"
        "requisitos requisitos";

    grid-template-columns: 100px 1fr;

    padding: 20px;
    border: 1px solid var(--wei2);
    margin-bottom: 20px;

    border-radius: 20px;
}

.arma-wei img {
    border-radius: 5px;
    background-color: var(--wei2);
    padding: 2px;
}

.arma-wei h2 {
    color: var(--wei2);
}

.arma-wei h3 {
    color: var(--wei2);
}

.arma-others {
    display: grid;
    grid-template-areas:
        "topo topo"
        "imagem status"
        "requisitos requisitos";

    grid-template-columns: 100px 1fr;

    padding: 20px;
    border: 1px solid var(--others2);
    margin-bottom: 20px;

    border-radius: 20px;
}

.arma-others img {
    border-radius: 5px;
    background-color: var(--others2);
    padding: 2px;
}

.arma-others h2 {
    color: var(--others2);
}

.arma-others h3 {
    color: var(--others2);
}

.exercito-personagem {
    grid-area: topo;
    font-size: 0.8em;
}

.imagem-arma { 
    grid-area: imagem;
    align-items: center;
    align-content: center;
}

.arma-status-batalha {
    grid-area: status;
    font-size: 1em;
    margin-left: 30px;
}

.requisitos {
    grid-area: requisitos;
    font-size: 1em;
    text-align: justify;
}

.creditos {
    background-color: var(--cor-texto);
    color: var(--cor-ficha2);
    text-align: center;
}

.creditos a {
    text-decoration: none;
    color: var(--cor-ficha2);
}

.creditos a:hover {
    color: var(--cor-link);
}