@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor-menu: #260101;
    --cor-doc: #F2F2F2;
    --cor-texto: #1B1B1B;
    --cor-fundo: #697363;
    --cor-ficha1: #e6e6e6;
    --cor-ficha2: #f9f9f9;
    --cor-link: #ffff00;
    --shu: #aeffae;
    --shu2: #14ad14;
    --shu3: #144d14;
    --wu: #ffa77f;
    --wu2: #e04719;
    --wu3: #852a0f;
    --wei: #acacfc;
    --wei2: #1818c4;
    --wei3: #111168;
    --others: #ffffbe;
    --others2: #b4b40a;
    --others3: #5f5f18;
    --destaque: #ff0000;
}

body {
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 2em;
    margin: 0;
}

main {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

main section {
    background-color: var(--cor-doc);
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

h1, h2, h3 {
    padding-top: 10px;
}

h1 {
    margin-bottom: 20px;
}

h5 {
    color: var(--cor-fundo);
}

ul {
    padding-left: 20px;
    margin: 16px 0;
}

li {
    margin-bottom: 10px;
}

header {
    background-color: var(--cor-menu);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--cor-menu);
    color: var(--cor-doc);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: var(--cor-ficha2);
}

footer a:hover {
    color: var(--cor-link);
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--cor-ficha2);
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.3s;
}

.menu ul li a:hover {
    color: var(--cor-fundo);
    background-color: var(--cor-ficha2);
}

.menu-pagina {
    padding-bottom: 0px;
}

.menu-pagina nav a {
    color: var(--destaque);
    text-decoration: none;
    font-weight: bold;
}

.menu-pagina p {
    text-align: justify;
}

.shu h1 {
    color: var(--shu2);
    margin: 15px 0;
}

.shu h2 {
    color: var(--shu2);
    margin: 15px 0;
}

.shu strong {
    color: var(--shu3);
}

.wu h1 {
    color: var(--wu2);
    margin: 15px 0;
}

.wu h2 {
    color: var(--wu2);
    margin: 15px 0;
}

.wu strong {
    color: var(--wu3);
}

.wei h1 {
    color: var(--wei2);
    margin: 15px 0;
}

.wei h2 {
    color: var(--wei2);
    margin: 15px 0;
}

.wei strong {
    color: var(--wei3);
}

.others h1 {
    color: var(--others2);
    margin: 15px 0;
}

.others h2 {
    color: var(--others2);
    margin: 15px 0;
}

.others strong {
    color: var(--others3);
}

.oficiais img {
    border-radius: 10px;
}

.oficiais strong {
    text-decoration: none;
    color: var(--destaque);
    font-weight: bold;
} 

.oficiais {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.oficiais-shu {
    text-align: center;
    border-radius: 10px;
    padding-top: 15px;
    transition: background-color 0.2s, color 0.3s;
}

.oficiais-shu:hover {
    background-color: var(--shu2);
    color: var(--cor-ficha2);
    font-weight: bold;
}

.oficiais-wu {
    text-align: center;
    border-radius: 10px;
    padding-top: 15px;
    transition: background-color 0.2s, color 0.3s;
}

.oficiais-wu:hover {
    background-color: var(--wu2);
    color: var(--cor-ficha2);
    font-weight: bold;
}

.oficiais-wei {
    text-align: center;
    border-radius: 10px;
    padding-top: 15px;
    transition: background-color 0.2s, color 0.3s;
}

.oficiais-wei:hover {
    background-color: var(--wei2);
    color: var(--cor-ficha2);
    font-weight: bold;
}

.oficiais-others {
    text-align: center;
    border-radius: 10px;
    padding-top: 15px;
    transition: background-color 0.2s, color 0.3s;
}

.oficiais-others:hover {
    background-color: var(--others2);
    color: var(--cor-ficha2);
    font-weight: bold;
}

.shu-batalhas h2 {
    color: var(--shu2);
    margin-bottom: 10px;
}

.shu-batalhas p {
    color: var(--shu3);
    font-weight: bold;
}

.shu-batalhas li {
    font-size: 0.7em;
    line-height: 0.5em;
}

.wu-batalhas h2 {
    color: var(--wu2);
    margin-bottom: 10px;
}

.wu-batalhas p {
    color: var(--wu3);
    font-weight: bold;
}

.wu-batalhas li {
    font-size: 0.7em;
    line-height: 0.5em;
}

.wei-batalhas h2 {
    color: var(--wei2);
    margin-bottom: 10px;
}

.wei-batalhas p {
    color: var(--wei3);
    font-weight: bold;
}

.wei-batalhas li {
    font-size: 0.7em;
    line-height: 0.5em;
}

.others-batalhas h2 {
    color: var(--others2);
    margin-bottom: 10px;
}

.others-batalhas p {
    color: var(--others3);
    font-weight: bold;
}

.others-batalhas li {
    font-size: 0.7em;
    line-height: 0.5em;
}

.creditos {
    background-color: var(--cor-texto);
    color: var(--cor-ficha2);
    text-align: center;
}

.creditos a {
    text-decoration: none;
    color: var(--cor-ficha2);
}

.creditos a:hover {
    color: var(--cor-link);
}